@font-face {
    font-family: sunflower;
    src: url('../assets/font/sunflower.otf');
}

@font-face {
    font-family: SweetRomance;
    src: url('../assets/font/SweetRomance.otf');
}

body {
    font-family: sunflower;
}

@media only screen and (max-width: 768px) {
    .modal-cover {
        background-image: url('../assets/images/cover.jpg');
        background-size: auto 100%;
        background-position: center;
        background-repeat: no-repeat;
    }

    #home {
        background-image: url('../assets/images/home.jpg');
        background-size: auto 100%;
        background-position: center;
        background-repeat: no-repeat;
        height: 100vh;
    }

    #mempelai {
        background-image: url('../assets/images/mempelai.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        height: 100vh;
    }
}

#namatamu .text-dark {
    font-family: SweetRomance;
    font-size: 2em !important;
}