@font-face {
    font-family: sunflower;
    src: url('../assets/font/sunflower.otf');
}

@font-face {
    font-family: SweetRomance;
    src: url('../assets/font/SweetRomance.otf');
}

body {
    font-family: sunflower;
    background-color: #cad4cd;
    color: black;
}

.text-home {
    font-size: 2.3rem;
    color: #5f3d22;
    line-height: 1.2em;
    font-family: SweetRomance;
    letter-spacing: .1em;
    font-weight: bold;
}

.img-mempelai {
    width: 150px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

@media only screen and (max-width: 768px) {
    .modal-cover {
        background-image: url('../assets/images/cover.webp');
        background-size: auto 100%;
        background-position: center;
        background-repeat: no-repeat;
    }

    .img-bg {
        background-size: auto 100%;
        background-position: center;
        background-repeat: no-repeat;
        height: 100vh;
    }

    #home {
        background-image: url('../assets/images/home.webp');
    }

    #mempelai {
        background-image: url('../assets/images/mempelai.jpg');
    }

    #tanggal {
        background-image: url('../assets/images/mempelai.webp');
    }
}

#namatamu .text-dark {
    font-family: SweetRomance;
    font-size: 2em !important;
}